{% extends 'email.html.twig' %}

{% block body %}

    <p style="color: #525252;font: normal 12px/20px Trebuchet MS,sans-serif;margin: 10px 0;">
      Votre inscription a bien été prise en compte. <br><br>
      Rejoignez-nous vite sur l'application Sportroops pour trouvez des activités sportives proches de chez vous.
    </p>

    {% if group == 'Coachs' %}
        <p style="color: #525252;font: normal 12px/20px Trebuchet MS,sans-serif;margin: 10px 0;">
          Pour vous connecter à votre tableau de bord, merci de vous rendre à cette adresse :
            <a href="{{ domain }}admin/users/coachs/{{ id }}/edit">
              http://{{ domain }}admin/users/coachs/{{ id }}/edit
            </a>
        </p>
    {% endif %}
{% endblock %}
