{% extends 'email.html.twig' %}

{% block body %}
  <p>Voici votre nouveau mot de passe :</p>
  <p style="font-weight: bold">{{ password }}</p>
  <p>Pensez à le personnaliser lors de votre prochaine connexion à votre espace utilisateur</p>
{% endblock %}
