.icon_prev {
  background-color: #eee;
  width: 100px;
}

.icon_prev img {
  max-width: 100px;
  border: 1px solid;
  border-radius: 2px;
}

.logo img {
  max-height: 110%!important;
  max-width: 98px!important;

}
