<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sportroops</title>
  </head>
  <body>
    <table style="border: none;text-align:left;width:350px;">
      <tr>
        <td>
          <img src="{{url('app_admin_homepage')}}bundles/appadmin/images/logo_mail.jpg" alt="Sportroops" style="border:none;margin:0;display:block;width:350px;height:200px">
        </td>
      </tr>
      <tr>
        <td style="padding:10px">
          <div style="padding:10px; background:#ffffff">
            <p style="color: #208aa0;font: bold 18px/25px Trebuchet MS,sans-serif;margin: 0;">
              Cher {{ firstname }} {{ lastname }},
            </p>
            <p style="color: #525252;font: normal 15px/20px Trebuchet MS,sans-serif;margin:5px 0;">Nous vous remercions de l'intérêt que vous portez à Sportroops.</p>

            <!-- Content -->
            <p style="color: #525252;font: normal 12px/20px Trebuchet MS,sans-serif;margin: 10px 0;">
              {% block body %}
              {% endblock %}
            </p>
            <!-- End Content -->

            <p style="color: #7f7f7f;font: italic 13px/20px Trebuchet MS,sans-serif;margin:10px 0;">Nous nous tenons à votre disposition pour tout renseignement complémentaire.</p>
            <p style="color: #7f7f7f;font: italic 13px/20px Trebuchet MS,sans-serif;margin:10px 0;">Sportivement,</p>
            <div style="border-left:1px solid #d9d9d9; padding:0 10px ; margin:10px 0; color:#525252; font: 12px/15px  Trebuchet MS,sans-serif">
              <strong style="font-size:13px">L'équipe Sportroops</strong>
              <br>
              02 03 04 05 06
              <br>
              <a href="mailto:contact@sportroops.com">contact@sportroops.com</a>
              <br>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="padding:10px; background:#1a171b; border-bottom:10px solid #208aa0">
            <span style="color:#989898; text-transform:uppercase; font:10px/15px Trebuchet MS,sans-serif">
              Retrouvez-nous sur l'application
            </span>
            <a style="color:#b9b9b9; font:12px/15px Trebuchet MS,sans-serif; text-decoration:none" href="http://landing.sportroops.com">SPORTROOPS</a>
          </div>
          <div style="color:#a7a7a7; font:10px/20px Trebuchet MS,sans-serif">© 2015 Sportroops - Tous droits réservés</div>
        </td>
      </tr>
    </table>
  </body>
</html>
