<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <title>Sportroops REST API</title>
    <link rel="stylesheet" href="/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/demo/demo.css">
  </head>
  <body>
    <div class="container" ng-controller="MainCtrl">
        <div class="header clearfix"></div>
        <div class="jumbotron text-center">
            <h1>Sportroops API v1</h1>
            <p class="lead">
              Submit your back-office credentials <br />
            </p>
            <form class="form-horizontal" role="form" style="margin-left: -8%;">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="credentials.email" placeholder="Username" required>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
                </div>
              </div>
              <!-- <button ng-click="submit('users')" class="btn btn btn-success" href="#" role="button">Fetch Users</button> -->
              <button
                ng-submit="submit(res)"
                ng-repeat="res in ['users', 'sports', 'categories', 'tags']"
                class="btn btn btn-success">
                  [% res %]
              </button>
              <!-- <button ng-click="submit('sports')" class="btn btn btn-success" href="#" role="button">Fetch Sports</button> -->
              <!-- <button ng-click="submit('categories')" class="btn btn btn-success" href="#" role="button">Fetch Categories</button> -->
              <!-- <button ng-click="submit('tags')" class="btn btn btn-success" href="#" role="button">Fetch Tags</button> -->
            </form>
            <br>
            <div class="alert alert-danger" ng-if="errorMessage">
              [% errorMessage %]
            </div>
            <div class="row text-left" ng-if="$root.results.data && !errorMessage">
              <h3>Results</h3>
              <div class="code-block">
                <samp>[% $root.results.config.method %] [% $root.results.config.url %]</samp>
                <br><br>
                <samp ng-repeat="res in $root.results.data track by res.id">[% res %]<br></samp>
              </div>
            </div>
        </div>
        <footer class="footer">
          <p>&copy; Sutunam - 2016</p>
        </footer>
    </div>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="/demo/demo.js"></script>
  </body>
</html>
