.skin-black .logo{
    background-color: #FFF!important;
    color: #333333!important;
}

.skin-black .sidebar-toggle {
    border-left: 1px solid #eee!important;
    border-right: 1px solid #eee !important;
    margin-top:3px!important;
    padding: 15px 15px !important;
    font-family: fontAwesome;
    margin-left: 0px!important
}

.skin-black .navbar-nav .dropdown-toggle {
    border-left:1px solid #eee !important;
}
.skin-black .navbar-nav .user-menu .dropdown-toggle {
    border-right: 1px solid #eee !important;
}
.skin-black .sidebar > .sidebar-menu > li, .skin-black .sidebar  {
    border-bottom: 0px solid #eee !important;border-top: 0px solid #eee !important;
}
.skin-black .sidebar-menu>li>.treeview-menu {
    background: #2c3b41!important;
}
.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
    color: #fff!important;
    background: #1e282c!important;
    border-left-color: #fff!important;
}
.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #fff;
}
.skin-black .sidebar-form input[type="text"] {
    color: #fff!important;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 2px !important;
}
skin-black .sidebar-form input[type="text"]::-webkit-input-placeholder {
   color: #fff!important;
}

skin-black .sidebar-form input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color: #fff!important;
}

skin-black .sidebar-form input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color: #fff!important;
}

skin-black .sidebar-form input[type="text"]:-ms-input-placeholder {
   color: #fff!important;
}
.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn {
    box-shadow: none!important;
    background-color: #374850!important;
    border: 1px solid transparent!important;
    height: 35px!important;
    -webkit-transition: all .3s ease-in-out!important;
    -o-transition: all .3s ease-in-out!important;
    transition: all .3s ease-in-out!important;
}
.skin-black .sidebar-form input[type="text"]:focus, .skin-black .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff!important;
    color: #666!important;
}

.slimScrollDiv {
    background-color: #222d32!important;
}
